<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hit Predictor - Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <style>
      h3
      {
        background-color: white;
            color: black;
      }
    </style>
    <h1 id="mainhead">Choose the input mode</h1>
</head>
<body id="bodydiv">
  <div class="card">
    <div class="card-body">
        <h3>Input Track Id</h3>
        <p>Enter spotify track id for the song</p>
        <a href="track.html" class="btn">Input track id</a>
    </div>
</div>
    
<div class="card">
  <div class="card-body">
      <h3>Upload song</h3>
      <p>Upload audio file of song.</p>
      <a href="audio.html" class="btn">Upload song</a>
  </div>
</div>
</body>
</html>